.note-editor {
    width: 60%;
    border: 2px solid var(--primary-color);
    border-radius: 2rem;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.note-features {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-bg {
    background-color: white;
    border-radius: 2rem;
}

input,
textarea {
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
}