.notes-nav-bar {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border-bottom: 2px solid white;
}

.nav-link:hover,
.active {
    border-bottom: 2px solid var(--primary-color);
}

.note-container {
    width: 40%;
    border: 2px solid var(--primary-color);
    border-radius: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.notes-container {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.note-text {
    background-color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
}

.icon-notes {
    cursor: pointer;
}