.notes-nav-bar {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border-bottom: 2px solid white;
}

.nav-link:hover,
.active {
    border-bottom: 2px solid var(--primary-color);
}

.note-container {
    width: 40%;
    border: 2px solid var(--primary-color);
    border-radius: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.notes-container {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.note-text {
    background-color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
}

.icon-notes {
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
}

.label {
    background-color: gold;
    padding: 10px;
    border-radius: 1rem;
}

.single-note-features {
    padding: 10px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}